<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/assets/normalize.css">
  <link rel="stylesheet" href="/assets/skeleton.css">
  <link rel="stylesheet" href="/assets/app.css">
  <title><%= defined?(title) ? title : "DaggerDoc" %></title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="location-bar">
        <div class="location-bar-entry"><label>Doc Root:</label> <a href="/"><code><%= DaggerDoc.doc_path %></code></a></div>
        <div class="location-bar-entry"><label>This Doc:</label> <a href="file://<%= doc_path %>"><code>/<%= doc_route %></code></a></div>
      </div>
    </div>
  </div>
  <div class="container first-content">
    <div class="row">
      <div>
        <%= yield %>
      </div>
    </div>
  </div>
</body>

</html>
